


.navbar-toggler {
    display: none;
    padding: 15px;
}

.nav-first-row {
    display: flex;
    /* position: absolute; */
    /* inset: 0; */
    width: 100%;
    height: 100%;
}

.nav-collapse {
    /* display: flex;
    flex-direction: column; */
    /* position: absolute; */
    /* inset: 0; */
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-basis: 100%;
}

@media screen and (max-width: 800px) {

    nav {
        flex-direction: column;
        background-color: var(--clr-blue-black) relative;
        transition: all .2s;
    }





    nav[data-state="closed"] a {
        display: none;
    }

    nav[data-state="open"] a {
        display: block;

    }

    nav[data-state="open"] .nav-first-row {
        border-bottom: 1px solid rgba(255 255 255 /0.3);
    }

    .navbar-toggler {
        display: block !important;
        /* position: fixed;
        top: 0;
        right: 0; */
    }

    .logo {
        margin-right: 0px;
        width: 100%;

        display: block !important;
    }

    /* nav[data-state="closed"] .logo {
        margin-right: 0px;
        width: 100%;
        display: block;
    } */
}








::selection {
    background-color: var(--clr-green);
    color: var(--clr-white);
}

section {
    position: relative;
}

img {
    display: block;
    /* position: absolute;
    inset: 0;
    background-size: contain; */
    width: 100%;
    /* height: 200px; */
}



main {
    display: grid;
    background-color: var(--clr-white);
    grid-template-columns: 1fr 1fr 1fr;


    gap: 2rem;

    padding: 5rem 0rem;
}








/* TYPOGRAPHY */
h1 {
    font-size: 40px;
    margin-bottom: 20px;

    font-weight: 500;
    text-transform: capitalize;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    font-family: 'Lobster', serif;
}

/* h2::after {
    position: absolute;
    content: "ˇˇ";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -50px;
    margin-top: -1px;
    background: currentColor;
} */



.wave-top {
    top: -1px;
}

.wave-bottom {
    transform: rotate(180deg);
    bottom: -1px;
}

.wave {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;

    z-index: 9;

}


.wave path {
    fill: var(--clr-white);
    transform-origin: center;

    transform: rotateY(0deg);
    line-height: 0;

    height: 20px;
}

.wave svg {
    width: calc(100% + 1.3px);
    height: 25px;
    z-index: -1;
    display: block;

    position: relative;
}

.bg-section {
    background-image: linear-gradient(rgba(0 0 0 /0.4), rgba(0 0 0 /0.4)), url("./img/hero-optimised.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 150px 50px;
    color: var(--clr-white);

    /* padding: -3rem; */
}


footer {

    background-color: var(--clr-white);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
}