@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');


@font-face {
    font-family: 'Century Gothic';
    src: url('../resources/fonts/Century\ Gothic.ttf') format('truetype');
}
  
/* VARIABLES */
:root {
    --clr-white: hsl(251, 100%, 98%);
    --clr-black: hsl(240, 38%, 3%);
    --clr-blue-black: hsl(234, 43%, 10%);

    --clr-orange: hsl(25, 77%, 51%);

    --clr-green: hsl(99, 76%, 54%);
    --clr-red: hsl(14, 82%, 49%);
    --clr-yellow: hsl(58, 72%, 63%);
    --clr-pink: hsl(324, 72%, 63%);
    --clr-purple: hsl(257, 72%, 63%);
}


/* CSS RESET */
* {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

html,
body {
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--clr-white);

    background-image: url("./img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

body::after{
    content: '';

    position: absolute;
    inset: 0;
    background: linear-gradient(to top, var(--clr-purple), transparent);
    /* background: var(--clr-black); */
    opacity: .3;
}

::selection {
    background-color: var(--clr-orange);
    color: var(--clr-white);
}

/* section {
    position: relative;
} */


main {
    padding: 0 5rem;
}





/* HEADER -------------------------------------------------------------------------------------------------------------*/
header {
    position: relative;
    height: 100vh;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.header-content {
    text-align: center;
    z-index: 8;
}




/* NAV ------------------------------------------------------------------------------------------------------------------*/
nav {
    padding: 0 5vw;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-elements {
    padding: 2.4vh 1em;
    height: 2rem;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

nav[data-scrolled="true"] {
    background-color: var(--clr-blue-black);
}


nav a {
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--clr-white);
    font-weight: light;
}


a {
    color: var(--clr-orange);
    text-decoration: none;
    transition: all .2s linear;
}

nav img {
    /* width: 100px;  */
    height: 5rem;
    transition: transform 0.5s ease-in-out; 
}

nav[data-scrolled="true"] img {
    transform: scale(0.8); 
}





/* GOMBOK ----------------------------------------------------------------------------------------------------------*/
/* alapbol narancs */
.btn {
    border-radius: 2px;
    border: none;

    padding: 15px 30px;

    font-weight: 500;

    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all .2s;

    background-color: var(--clr-orange);
    color: var(--clr-white);
}

.btn:hover {
    background-color: var(--clr-red);
}

/* nem biztos hogy ilyen marad */
.btn-dark {
    background-color: var(--clr-blue-black);
    color: var(--clr-white);
}

.btn-dark:hover {
    background-color: var(--clr-white);
    color: var(--clr-blue-black);
    /* border: 1px solid var(--clr-blue-black); */
}




/* más szín */


/* TYPOGRAPHY */
h1 {
    font-size: 40px;
    margin-bottom: 20px;

    font-weight: 500;
    text-transform: capitalize;
}

header h1 {
    font-stretch: narrower;
    font-size: 3rem;
}



/* Lehetne valami effekt rajta */
h2 {
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    font-family: 'Anta', serif;
}




/* .wave-top {
    top: -1px;
}

.wave-bottom {
    transform: rotate(180deg);
    bottom: -1px;
}

.wave {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;

    z-index: 9;

}

.wave path {
    fill: var(--clr-white);
    transform-origin: center;

    transform: rotateY(0deg);
    line-height: 0;

    height: 20px;
}

.wave svg {
    width: calc(100% + 1.3px);
    height: 25px;
    z-index: -1;
    display: block;

    position: relative;
}


.bg-section {
    background-image: linear-gradient(rgba(0 0 0 /0.4), rgba(0 0 0 /0.4)), url("./img/hero-optimised.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 150px 50px;
    color: var(--clr-white);
} */


footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-blue-black);
}




/* CART.PHP */
.header-cart {
    height: 50vh;
}

.main-cart{
    background-color: var(--clr-blue-black);
}



/* CARDS */

.csomag-container{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.rolunk-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
}


.card {
    width: 300px;
    padding: 20px;
    border-radius: 7px;
    transition: box-shadow 0.3s ease;
    color: var(--clr-white);
    background-color: var(--clr-blue-black);
  }
  
  .card-content {
    padding: 15px;
  }

  
.card-image {
    flex-grow: 1;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    display: block;
  }

  .card-content .description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }

  .big-card{
    width: 100%;
  }





  