@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/Century\ Gothic.ttf') format('truetype');
}
  
/* VARIABLES */
:root {
    --clr-white: hsl(251, 100%, 98%);
    --clr-black: hsl(240, 38%, 3%);
    --clr-blue-black: hsl(234, 43%, 10%);

    --clr-orange: hsl(25, 77%, 51%);

    --clr-green: hsl(99, 76%, 54%);
    --clr-red: hsl(14, 82%, 49%);
    --clr-yellow: hsl(58, 72%, 63%);
    --clr-pink: hsl(324, 72%, 63%);
    --clr-purple: hsl(257, 72%, 63%);
}



/* CSS RESET */
* {
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

html,
body {
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5;
    color: var(--clr-white);

    background-image: url("./img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

body::after{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, var(--clr-purple), transparent);
    /* background: var(--clr-black); */
    opacity: .3;
}

::selection {
    background-color: var(--clr-orange);
    color: var(--clr-white);
}

main {
    padding: 0 5rem;
}





/* HEADER -------------------------------------------------------------------------------------------------------------*/
header {
    position: relative;
    height: 100vh;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.header-content {
    text-align: center;
    z-index: 8;
}





/* NAV ------------------------------------------------------------------------------------------------------------------*/
nav {
    padding: 0 5vw;
    transition: all .2s linear;
    height: 5rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    align-items: center;
}

.nav-first-row {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

nav[data-scrolled="true"] {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

nav .logo {
    margin-right: auto;
}

.logo {
    padding: 1rem;
    margin-right: 0px;
    height: 100%;
    display: block !important;
}



nav a{
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--clr-white);
    margin: 2.4vh 1rem;
}


a {
    color: var(--clr-orange);
    text-decoration: none;
    transition: all .2s linear;
}

/* pc */
@media screen and (min-width: 801px){
    .mobile-btn {
        display: none;
        padding: 15px;
    }
    .pc-btn{
        display: block;
    }
}


/* mobile */
@media screen and (max-width: 800px) {

    nav {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(15px);
        position: relative;
        transition: all .2s;
    }

    nav[data-state="closed"] a {
        display: none;
    }
    nav[data-state="open"] a {
        display: block;
    }

    .mobile-btn {
        display: block !important;
    }
    .pc-btn{
        display: none !important;
    }

    /* style */
    nav[data-state="open"] .nav-first-row {
        border-bottom: 1px solid rgba(255 255 255 /0.3);
    }

    .logo {
        margin-right: 0px;
        height: 100%;
        display: block !important;
    }
}






/* GOMBOK ----------------------------------------------------------------------------------------------------------*/
/* alapbol narancs */
.btn {
    border-radius: 2px;
    border: none;

    padding: 15px 30px;

    font-weight: 500;

    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;

    transition: all .2s;

    background-color: var(--clr-orange);
    color: var(--clr-white);

    cursor:pointer;
}

.btn:hover {
    background-color: var(--clr-red);
}

/* nem biztos hogy ilyen marad */
.btn-dark {
    background-color: var(--clr-blue-black);
    color: var(--clr-white);
}

.btn-dark:hover {
    background-color: var(--clr-white);
    color: var(--clr-blue-black);
    /* border: 1px solid var(--clr-blue-black); */
}


.btn-light {
    background-color: var(--clr-white);
    color: var(--clr-blue-black);
}

.btn-light:hover {
    background-color: var(--clr-blue-black);
    color: var(--clr-white);
    /* border: 1px solid var(--clr-blue-black); */
}

.icon-btn{
    white-space: nowrap;
}

.btn-controll {
    background-color: transparent;
}

.btn-controll:hover {
    background-color: var(--clr-white);
    color: var(--clr-blue-black);
}




/* TYPOGRAPHY ------------------------------------------------------------------------------------------------------*/
h1 {
    font-size: 40px;
    margin-bottom: 20px;

    font-weight: 500;
    text-transform: capitalize;
}

header h1 {
    font-stretch: narrower;
    font-size: 3rem;
}



/* Lehetne valami effekt rajta */
h2 {
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    font-family: 'Anta', serif;
}



footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--clr-blue-black);
}


section{
        padding: 5rem 0;
}

/* CART.PHP */
.header-cart {
    height: 50vh;
}

.main-cart{
    background-color: var(--clr-blue-black);
}





/* CARDS ---------------------------------------------------------------------------------------------------------------------------------------*/

.rolunk-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}



.csomag-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: top;
    /* max-width: 800px; */        
}

.card {
    width: 300px;
    border-radius: 7px;
    transition: box-shadow 0.3s ease;
    color: var(--clr-white);
    background-color: var(--clr-blue-black);
  }
  
  .card-content {
    padding: 1.5rem;
  }

  
  .small-card-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px 5px 0 0;
  }


  .card-content .description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /*harmadik sortól levágja és ...-ot tesz*/
    white-space: pre-wrap; /* sortörés a szóközök megtartásával*/
  }


  

/* bovebben ---------------------------------------------------------------------------------------------------------------------------------------------*/

.bovebben-container{
    padding: 5rem 2rem;
    margin: 0 -5rem;
    display: flex;

    background-color: var(--clr-purple);
}

  .big-card{
    width: 100%;
    display: flex;
    flex-direction: row;
 }

 .big-card .card-content{
    padding: 1.5rem .5rem;
 }

.big-card-img {
    min-width: 100px;
    width: max(100px, 100%);
    object-fit: contain;
    display: block;
    border-radius: 5px;
}






.card-hidden {
    /* visibility: hidden; */
    display: none;
    opacity: 0;
    transition: all 0.5s linear;
}




span{
    color: var(--clr-pink);
    font-weight: bold;
}



.még-semmi-hátteres-hullámos-rész-lehetne-ig{
/* .wave-top {
    top: -1px;
}

.wave-bottom {
    transform: rotate(180deg);
    bottom: -1px;
}

.wave {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;

    z-index: 9;

}

.wave path {
    fill: var(--clr-white);
    transform-origin: center;

    transform: rotateY(0deg);
    line-height: 0;

    height: 20px;
}

.wave svg {
    width: calc(100% + 1.3px);
    height: 25px;
    z-index: -1;
    display: block;

    position: relative;
}


.bg-section {
    background-image: linear-gradient(rgba(0 0 0 /0.4), rgba(0 0 0 /0.4)), url("./img/hero-optimised.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 150px 50px;
    color: var(--clr-white);
} */
}