/* td.orderNum {
    width: 20%;
    text-align: center;
}

.btn .delete {
    background-color: var(--clr-pink);
    color: var(--clr-white);
}

.quantity {
    width: 60px;
    padding: 5px;
    border: 1px solid var(--clr-blue-black);
    border-radius: 5px;
} */

