@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@font-face {
    font-family: 'Century Gothic';
    src: url('./fonts/Century\ Gothic.ttf') format('truetype');
}

/* VARIABLES */
:root {
    --clr-black: hsl(228, 38%, 10%);
    --clr-black-light: hsl(230, 33%, 14%);
    --clr-white: hsl(24, 100%, 98%);

    --clr-orange: hsl(25, 77%, 51%);
    --clr-orange-dark: hsl(14, 82%, 49%);
    --clr-pink: hsl(344, 72%, 58%);
    --clr-blue: hsl(207, 74%, 58%);
    --clr-teal: hsl(151, 75%, 56%);
    --clr-green: hsl(99, 76%, 54%);
    --clr-yellow: hsl(59, 76%, 53%);
    --clr-purple: hsl(257, 72%, 63%);

    --clr-alpha-black: rgba(0, 0, 0, .5);

    --blur: 10px;
    --border-radius: 2px;
    --border-radius-big: 7px;
}


/* CSS RESET */
* {
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    /* így a body:after színátmenete csak a háttérkép fölött lesz nem az egész oldal fölött */
    z-index: 2;
}

html,
body {
    margin: 0;
    padding: 0;
    
    color: var(--clr-white);
    font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5;

    background: url("./img/bg.jpg") center/cover no-repeat fixed;
    /* így a body:after színátmenete csak a háttérkép fölött lesz nem az egész oldal fölött */
    z-index: 1;
}

body::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, var(--clr-purple), transparent);
    /* background: var(--clr-black); */
    opacity: .3;
}

::selection {
    background-color: var(--clr-orange);
    color: var(--clr-white);
}

/* MAIN --------------------------------------------------------------------------------------------------------------------- */
main {
    background-color: var(--clr-black);
    padding: 5rem;
    min-height: 100%;
}

main#index-main{
    background-color: transparent;
}


/* HEADER -------------------------------------------------------------------------------------------------------------*/
header {
    height: 50vh;
    position: relative;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

header#index-header{
    height: 100vh;
    justify-content: left;

    /* scrolling-planet elhelyezéséhez */
    overflow-x: hidden;
    overflow-y: visible;
}


.header-content {
    text-align: center;
    z-index: 8;
    padding: 2rem;
}

#index-header .header-content{
    padding-left: 10rem;
}

.scrolling-planet {
    /* js is ezt használja a mozgatásnál */
    --offset-x: -100px;

    height: 100%;
    position: absolute;
    right: var(--offset-x);
    /* függőlegesen középen */
    top: 50%;
    transform: translateY(-50%);

    overflow-x: hidden;
    overflow-y: visible;
}

/* NAV ------------------------------------------------------------------------------------------------------------------*/
nav {
    padding: 0 5vw;
    transition: all .2s linear;
    height: 5rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

    align-items: center;
}

.nav-first-row {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 2.4vh 1rem;
}

nav[data-scrolled="true"] {
    background-color: var(--clr-alpha-black);
    backdrop-filter: blur(var(--blur));
}

.logo {
    margin-right: auto;
    height: 100%;
    display: block !important;
}

nav a {
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--clr-white);
    margin: 2.4vh 1rem;
}

a {
    color: var(--clr-orange);
    text-decoration: none;
    transition: all .2s linear;
}

/* aktuális link aláhúzása */
nav a[data-active="true"]::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 4rem;
    height: 2px;
    background-color: var(--clr-orange);
}



/* pc */
@media screen and (min-width: 801px) {
    .mobile-btn {
        display: none;
    }

    .pc-btn {
        display: block;
    }
}

/* mobile */
@media screen and (max-width: 800px) {

    nav {
        flex-direction: column;
        background-color: var(--clr-alpha-black);
        backdrop-filter: blur(var(--blur));
        position: relative;
        transition: all .2s;
    }

    nav[data-state="closed"] a {
        display: none;
    }

    nav[data-state="open"] a {
        display: block;
    }

    .mobile-btn {
        display: block !important;
    }

    .pc-btn {
        display: none !important;
    }

    /* style */
    nav[data-state="open"] .nav-first-row {
        border-bottom: 1px solid var(--clr-green);
    }

    .logo {
        height: 100%;
        display: block !important;
    }
}



/* GOMBOK ----------------------------------------------------------------------------------------------------------*/
/* alapbol narancs */
.btn {
    border-radius: var(--border-radius);
    border: none;
    padding: 15px 30px;
    background-color: var(--clr-orange);
    color: var(--clr-white);

    cursor: pointer;
    white-space: nowrap;
    transition: all .2s;

    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    filter: brightness(80%) saturate(116.5%) hue-rotate(-20deg) ;
}

.btn-control {
    background-color: transparent;
}

.btn-control:hover {
    color: var(--clr-green);
    background-color: transparent;
}

.btn-blue {
    background-color: var(--clr-blue);
}


/* TYPOGRAPHY ------------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
    font-family: 'Anta', serif;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;

    font-weight: 500;
    text-transform: capitalize;

    font-stretch: narrower;
    font-size: 3rem;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 4rem;
    height: 3px;
    background-color: var(--clr-purple);;
}


/* card ------------------------------------------------------------------------------------------------------------------------------------------- */
.card {
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    --accent-color: var(--clr-white);
    --text-color: var(--clr-black);

    width: 300px;
    border-radius: var(--border-radius-big);
    transition: box-shadow 0.3s ease;
    color: var(--clr-white);
    border: 1px solid var(--accent-color);
    background-color: var(--clr-black);
    transition: visibility 0.5s ease;
}

.card-content {
    padding: 1.5rem;
}

.card-content .description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /*harmadik sortól levágja és ...-ot tesz*/
    white-space: pre-wrap;
    /* sortörés a szóközök megtartásával*/
}

.card:hover {
    box-shadow: 0 8px 16px var(--accent-color);
}

.card h2 {
    color: var(--accent-color);
}

.card .btn {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.small-card-img {
    width: 100%;
    height: auto;
    display: block;
    /* border-radius: var(--border-radius-big) var(--border-radius-big) 0 0; */
    border-radius: 7px 7px 0 0;
}


/* bovebben */

.big-card {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.big-card .card-content {
    padding-inline: .5rem;
}

.big-card-img {
    min-width: 100px;
    width: max(100px, 100%);
    object-fit: contain;
    display: block;
    border-radius: var(--border-radius-big);
}

/* ár */
span.price {
    color: var(--clr-pink);
    font-weight: bold;
}

.big-card table {
    border-collapse: collapse;
    background-color: var(--clr-black-light);
}

.big-card th,
.big-card td {
    border: 1px solid var(--clr-white);
    padding: .5rem;
}

.big-card th {
    background-color: var(--accent-color);
    color: var(--text-color);
}


/* nem az aktuális kártya eltüntetéséhez */
.card-hidden {
    display: none;
    opacity: 0;
    visibility: none;
    transition: all 0.5s ease;
}


/* form dolgok ---------------------------------------------------------------------------------------------------------------------------*/
.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
    color: var(--clr-white);
    border-left: 2px solid var(--clr-blue);
    padding-left: .4rem;
}

.form-group input,
.form-group textarea, 
.form-group select,
.form-group option {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--clr-black-light);
    color: var(--clr-white);
}

/* Style options within the select dropdown */
.form-group select option {
    background-color: var(--clr-black-light);
    color: var(--clr-white);
}


.form-group select option:checked {
    background-color: var(--clr-purple);
}

.form-group textarea {
    resize: vertical;
}



/* SECTIONS --------------------------------------------------------------------------------------------------------------------- */
section {
    padding: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
}

section#bovebben {
    display: flex;
}

.dark-blur {
    background-color: var(--clr-alpha-black);
    backdrop-filter: blur(var(--blur));
}

.full-width {
    margin-inline: -5rem;
}


/* containers */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.rolunk-cards {
    justify-content: space-around;
    align-items: center;
}

.csomag-cards {
    justify-content: center;
    align-items: top;
}


.error{
    background-color: rgb(85, 4, 20);
    padding: 1.5rem;
    border-radius: var(--border-radius-big);
}

.error a{
    color: var(--clr-pink);
}




/* cart */
.btn.delete {
    background-color: var(--clr-pink);
    color: var(--clr-white);
}

.quantity {
    width: 60px;
    padding: 5px;
    border: 1px solid var(--clr-black);
    border-radius: 5px;
}

.item{
    /* flex-direction: column; */
    border-bottom: 1px solid var(--clr-black-light);
}

.item-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-row{
    display: flex;
}

.item-row img{
    width: 20%;
    margin-right: 1rem;
    height: auto;
}

.checkout-container {
    display: flex;
    justify-content: flex-end;
}

.right-content {
    display: flex;
    flex-direction: column;
}

/* reserve */
summary{
    background-color: var(--clr-black-light);
    padding: .5rem;
    border-radius: var(--border-radius);
}

/* receipt */

/* receipt.txt */
.receipt-txt{
    background-color: var(--clr-black-light);
    border-radius: var(--border-radius-big);
}